# Python
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
.venv/
venv/

# Test artifacts
reports/
allure-results/
test-results/
.har

# MkDocs build output
site/

# OS / editor
.DS_Store
Thumbs.db
*.swp
